@model IEnumerable<PruebaAZSmart.Models.Libro>

@{
    ViewData["Title"] = "Index";
}

<h1>Lista de libros</h1>

<p>
    <a asp-action="Create">Agregar un libro</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Titulo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Año)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Genero)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Paginas)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AutorNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Titulo)
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.Año)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Genero)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Paginas)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AutorNavigation.NombreCompleto)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Titulo">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.Titulo">Detalles</a> |
                <a asp-action="Delete" asp-route-id="@item.Titulo">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
