@model IEnumerable<PruebaAZSmart.Models.Autore>

@{
    ViewData["Title"] = "Index";
}

<h1>Lista de autores:</h1>

<p>
    <a asp-action="Create">Agregar un nuevo autor</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NombreCompleto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaDeNacimiento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ciudad)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NombreCompleto)
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaDeNacimiento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ciudad)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.NombreCompleto">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.NombreCompleto">Detalles</a> |
                <a asp-action="Delete" asp-route-id="@item.NombreCompleto">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
